/* *{
    margin: 0px;
    padding: 0px;
  } */

.board-wrap {
    width: 70%;
    height: auto;
    box-sizing: border-box;
    margin: 100px auto;
}

.board-view .info dl {
    width: 50%;
    padding: 0;
}

.board-view {
    width: 100%;
    border-top: 2px solid #000;
}

.board-view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
    margin-bottom: 10px;
}

.board-view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board-view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board-view .info dl:first-child {
    padding-left: 0;
}

.board-view .info dl::before {
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board-view .info dl:first-child::before {
    display: none;
}

.board-view .info dl dt,
.board-view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board-view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.cont {
    height: auto;
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
    margin-top: 30px;
    border-top: 1px solid #999;
}

.writer {
    font-size: 20px;
    padding-left: 15px;
}

.hits {
    float: right;
    font-size: 20px;
    padding-left: 15px;
}

.createdDate {
    display: inline-block;
    font-size: 20px;
    padding-left: 15px;
}

.bt-wrap-add {
    margin-top: 10px;
    float: right;
}

.back {
    margin: 0 auto;
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}

.edit {
    margin: 0 auto;
    margin-right: 5px;
    float: right;
    padding-top: 10px;
}

.del {
    margin: 0 auto;
    margin-right: 5px;
    float: right;
    padding-top: 10px;
}

.board-rep {
    margin-top: 80px;
    margin-bottom: 10px;
    clear: both;
}

.board-rep-count {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rep-add {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.board-rep-list {
    margin-top: 25px;

}

.rep-line {
    border-top: 1px solid #999;
    margin-top: 40px;
}


.rep-list {
    border: 3px solid green;
}

.parent-div {
    /* border :3px solid aqua; */
    float: left;
    width: 85%;
    height: 100px;
    margin-left: 10px;
    border-bottom: 1px solid lightgrey;
}

.prwriter {
    width: 100px;
    display: inline-block;
}

.prdate {
    margin-top: 5px;
    width: 100px;
    display: inline-block;
}

.pcontent {
    height: 60px;
    margin-top: 5px;
}

#rep-edit {
    float: right;
    clear: both;
}

.rep-menu {
    margin-top: 15px;
    margin-bottom: 60px;
    float: right;
}

.rep-list button {
    margin-left: 10px;
    margin-top: 33px;
}

.rep-edit-btn {
    text-align: center;
    margin-bottom: 2px;
}

.rep-del-btn {
    text-align: center;
    margin-bottom: 2px;
}

.rep-second-btn {
    text-align: center;
}

#prep-content {
    width: 100%;
    height: 70px;
    border: 0;
    float: right;
}

#re-rep-content {
    width: 100%;
    height: 70px;
    border: 0;
    float: right;
}

.re-rep-writer {
    margin-top: 10px;
}

.re-rep {
    /* clear:both; */
    border: 3px solid orange;
    width: 80%;
    margin-left: 50px;
    height: 70px;
}

.hidden-rep-btn {
    float: right;
    margin-top: 60px;
}

.re-rep-write {
    margin-top: 10px;
    width: 100%;
    height: 90px;
    display: inline-table;
}

#re-rep-content {
    margin-left: 50px;
}

.re-rep-btns {
    width: 15%;
    display: inline-flex;
    float: right;
    margin-top: 30px;

}

#re-rep-add-btn {
    margin-right: 7px;
    margin-left: 25px;
}

/*-----------------------------------------*/