#header {
    width: 100%;
}

#header .h1_logo {
    text-align: left;
    padding: 50px 0 0 60px;
    height: 98px;
    /* display : inline; */
}

#header .h1_logo > div.logo_main {
    display: block;
    float: left;
    margin-right: 30px;
}

.search{
    width:250px;
    float: left;
    margin-top: 10px;
    position: relative;
}

.search-icon{
    /* position: absolute; */
    /* text-align: right; */
    float: left;
}

.top_member_box {
    position: absolute;
    top: 50px;
    right: 8px;
    z-index: 150;
    line-height: 1;
}

.list_1 {
    float: left;
    margin-top: 8px;
    margin-right: 30px;
}

.list_1 > li {
    float: left;
    padding-right: 16px;
    margin-right: 16px;
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

dl, ul, ol, li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* .list_1:after {
    content: "";
    display: block;
    clear: both;
} */

/* 줄생김 */
/* .list_1 > li:after {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #ccc;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}

.list_1 li.cs:after {
    display: none;
}


.list_1 li.cs .cs_in {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    z-index: -1;
    position: absolute;
    top: 20px;
    left: -10px;
    width: 85px;
    z-index: 1;
}

.list_1 li.cs .cs_in ul {
    background: #fff;
    margin-top: 14px;
    border: 1px solid #e0e0e0;
    padding: 10px 8px;
    position: relative;
    width: 69px;
} */

/* .list_1 li.cs .cs_in ul:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 50%;
    width: 16px;
    height: 8px;
    background: url(../../img/main/cs_layer_top.png) no-repeat 0 0;
    z-index: 1;
    background-size: 16px 8px;
    margin-left: -8px;
} */

/* .top_member_box .ul.list_1 */


/* ------- */
/* .menu{
    border: none;
    border: 0px;
    margin:0px;
    padding:0px;
}

.menu ul{
    background: #666;
    height: 100px;
    list-style: none;
    margin: 0;
    height: 0;
}

.menu li {
    float: left;
    padding: 0px;
}

.menu li a{
    background: #666;
    color: #fff;
    display: block;
    line-height: 100px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover, .menu ul li:hover a{
    background: rgb(31,31,31);
    color: #ffffff;
    text-decoration: none;
}

.menu li ul {
    background-color: red;
    /* display: none; */
    /*height: auto;
    border: 0px;
    position: absolute;
    width: 100px;
    z-index: 200;
}

.menu li:hover ul {
    display: block;
}

.menu li li{
    background-color: rgb(0, 30, 255);
    display: block;
    float: none;
    margin: 0px;
    position: 0px;
    width: 200px;
}

.menu li:hover li a{
    background:none;
}

.menu li ul a{
    display: block;
    height: 80px;
    margin: 0px;
    /* padding: 0px 10px 0px 15px; */
    /*text-align: left;
}

.menu li ul a:hover, .menu li ul li:hover a{
    background: rgb(171, 171, 171);
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}

.menu p{
    clear:left;
} */

nav.menulist a{
    text-decoration: none;
    color: black;
    margin: 1em;
    float: right;
}

/* #horizontal-underline{
    position: absolute;
    width: 0;
    background-color: rgb(17, 227, 157);
    top:0;
    left: 0;
    height: 4px;
} */

/* nav.menulist > ul > li > a:after {
    content: "";
    display: block;
    width: 2px;
    height: 12px;
    margin-right: 12px;
    background: #ccc;
    position: absolute;
    top: 52px;
} */
    /* right: 0px;
    margin-top: -6px; */

nav.menulist > ul{
    float: right;
    margin-right: 60px;
    /* position: relative; */
}

nav.menulist > ul > li{
    float: left;
}

nav.menulist > ul > li > a:hover {
    color:#00b06a;
    border-radius: 10px;
    transition: 0.3s;
}