*{
    font-family: 'Noto Sans KR', sans-serif;
}

section{
    /* width: 85%; */
    margin: auto;
}

input.searchbox{
    padding-left: 20px;
    border:none;
    color:#fff;
    background-color: #f8f8f8;
    height: 40px;
}

input.searchbox:focus{
    outline:none;
    box-shadow: none;
    background-color: #f8f8f8;
}

button.btn {
    border:none;
}

div.search-icon{
    position: absolute;
    top: -2px;
    right: 20px;
}

.nav-link{
    height: 80px;
}

.nav-tabs .nav-link {
    font-size: 18px;
    font-weight: 500;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color:#6c757d;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color:#009a5a;
}

/* --------- footer  영역 --------- */
/* footer{
    width:100%;
    height: 300px;
} */

#footer_wrap {
    position: relative;
    background: #f7f7f7;
}

#footer {
    overflow: hidden;
    padding: 0 0 0px 0;
}

.foot_list {
    /* line-height: 1; */
    position: relative;
    margin-top: 40px;
}

.foot_list_in {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.foot_list div > ul {
    overflow: hidden;
    width: 1200px;
    /* margin: 0 auto; */
    padding-left:0px;
    padding-bottom: 40px;
    border-bottom: 1px solid #999;
}

.foot_list div > ul li {
    float: left;
    /* line-height: 30px; */
}

.foot_list div > ul li:first-child a {
    padding-left: 0;
    border-left: 0 none;
}

.foot_list div > ul li:first-child a {
    background: none;
}

.foot_list div > ul li a {
    padding: 0 40px 0 0px;
    color: #999;
    font-size: 16px;
    letter-spacing: -0.8px;
    text-decoration: none;
}

a {
    color: #333;
    text-decoration: none;
}

.foot_cont {
    overflow: hidden;
    padding: 40px 0 40px 0;
    color: #fff;
    font-size: 15px;
    /* line-height: 1; */
    position: relative;
}

.foot_list ul, .foot_cont, .foot_certify {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.foot_cont .foot_logo {
    padding: 0 0 0 0;
    position: absolute;
    top: 38px;
    right: 0;
}

.foot_cont .foot_logo > img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.foot_cont .foot_info_list {
    width: 100%;
    /* margin-bottom: 12px; */
}

.foot_cont .foot_info_list dl {
    float: left;
    line-height: 1;
    position: relative;
    margin-right: 30px;
    line-height: 1px;
}

.foot_cont .foot_info_list dt {
    float: left;
    font-size: 15px;
    color: #999;
    font-weight: 400;
}

.foot_cont .foot_info_list dd {
    float: left;
    padding: 0 15px 0 3px;
    font-size: 15px;
    color: #999;
    font-weight: 400;
    letter-spacing: -1px;
    position: relative;
    overflow: visible;
}

dd {
    margin-inline-start: 0px;
}

.foot_cont .foot_info_list dl.ts dd {
    padding-right: 14px;
}

.foot_cont .foot_info_list dd > a.btn_licensee_info {
    border: 1px solid #999;
    height: 24px;
    /* line-height: 24px; */
    width: 105px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 11;
    margin-top: -13px;
    text-align: center;
}

.foot_cont .foot_info_list:after {
    content: "";
    display: block;
    clear: both;
}

.foot_cont .foot_info_list dd > a {
    font-size: 15px;
    color: #999;
    font-weight: 400;
    text-decoration: none;
}

.foot_cont .copyright {
    float: left;
    width: 100%;
    margin-top: 15px;
    color: #999999;
    font-size: 15px;
    /* line-height: 1; */
}

.foot_cont .copyright strong {
    margin-left: 5px;
    margin-right: 5px;
}

.foot_certify {
    overflow: hidden;
    padding: 5px 0 15px 0;
    text-align: right;
    float: right;
    display: none;
}

.foot_certify span:first-child {
    padding: 0 10px 0 0;
}

.foot_certify span {
    display: inline-block;
    padding: 0 10px 0 10px;
}

.foot_cont .foot_info_list dl.dl:after {
    content: "/";
    display: block;
    position: absolute;
    /* top: 2px; */
    right: -1.5em;
    color: #8a8989;
    font-size: 12px;
}