section.prodlist-class {
    width: 85%;
    margin: auto;
}

div.all-prod-list button.btn {
    border:none;
}

#prodKeywordSearch:focus{
    border: none;
    outline:none;
}

div.all-prod-list .nav-link{
    height: 80px;
}

div.all-prod-list .nav-tabs .nav-link {
    font-size: 18px;
    font-weight: 500;
}

div.all-prod-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color:#6c757d;
}

div.all-prod-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color:#009a5a;
}