.header-bar{
    width:100%;
    height:40px;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00af85;
}

div.all-prod-list button.btn {
    border:none;
}

div.all-prod-list .nav-link{
    height: 80px;
}

div.all-prod-list .nav-tabs .nav-link {
    font-size: 18px;
    font-weight: 500;
}

div.all-prod-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color:#6c757d;
}

div.all-prod-list .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color:#009a5a;
}
