.coupon-div {
    width : 100%;
    margin: 0;
    padding: 0;
}

.coupon-header{
    margin-top:50px;
    margin-bottom : 30px;
}

.nav-tap {
    margin-top : 100px;
}

.coupon-list-header {
    margin-top : 30px;
    margin-bottom : 10px;
}

.list-header { 
    background-color : rgba(242, 238, 238, 0.341);
    height : 40px;
    display : flex;
    align-items : center;
    justify-content: space-between;
    border-top : 1.7px solid grey;
    border-bottom :1.3px solid lightgrey;
    margin-bottom: 10px;
    -webkit-text-stroke: thin;
}

.list-header > div{
    display : inline-block;
    font-size: 15px;
    text-align : center;
  
}

#home-tab {
    border-top : 3px solid #00af85;
}

.list-body {
    height : 100px;
    display : flex;
    align-items : center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    border-bottom:1px solid lightgrey;
    font-size : 13px;
}

.coupon-name {
    width : 20%;
}
.coupon-benefit {
    width : 15%;
}
.coupon-condition {
    width : 15%;
}
.coupon-limit {
    width : 15%;
}
.coupon-avaliable {
    width : 17%;
}
.coupon-date {
    width : 15%;
}

.c-name {
    width : 20%;
}
.c-benefit {
    width : 15%;
}
.c-condition {
    width : 15%;
}
.c-limit {
    width : 15%;
}
.c-avaliable {
    width : 17%;
}
.c-date {
    width : 15%;
}
.c-notice{
    margin-top : 5px;
    display: grid;
    border: 1px solid #00af85;
    color : #00af85;
    border-radius: 5px;
}

/*=====유효기간 만료 쿠폰 div===*/

.expired-coupon-list-header {
    margin-top : 30px;
    margin-bottom : 10px;
}

.expired-list-header { 
    background-color : rgba(242, 238, 238, 0.341);
    height : 40px;
    display : flex;
    align-items : center;
    justify-content: space-between;
    border-top : 1.7px solid grey;
    border-bottom :1.3px solid lightgrey;
    margin-bottom: 10px;
    -webkit-text-stroke: thin;
}
.expired-list-header > div{
    display : inline-block;
    font-size: 15px;
    text-align : center;
}


.expired-list-body {
    height : 100px;
    display : flex;
    align-items : center;
    justify-content: space-between;
    text-align: center;
    border-bottom:1px solid lightgrey;
    font-size : 13px;
}
.exp-coupon-name {
    width : 20%;
}
.exp-coupon-benefit {
    width : 15%;
}
.exp-coupon-condition {
    width : 15%;
}
.exp-coupon-limit {
    width : 15%;
}
.exp-coupon-avaliable {
    width : 17%;
}
.exp-coupon-date {
    width : 15%;
}

.exp-c-name {
    width : 20%;
}
.exp-c-benefit {
    width : 15%;
}
.exp-c-condition {
    width : 15%;
}
.exp-c-limit {
    width : 15%;
}
.exp-c-avaliable {
    width : 17%;
}
.exp-c-date {
    width : 15%;
}
.exp-c-notice{
    margin-top : 5px;
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
}

/* ------ Date Picker CSS  ------- */

div.mp-order-list-main .datepicker {
    margin-left: 10px;
}

div.mp-order-list-main input {
    padding: 10px 15px !important;
    border: 1px solid #CFD8DC !important;
    border-radius: 12px !important;
    /* box-sizing: border-box; */
    background-color: #fff !important;
    color: #000 !important;
    font-size: 13px !important;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    width: 215px;
}

div.mp-order-list-main input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #FFA000 !important;
    outline-width: 0;
}

div.mp-order-list-main .daterangepicker {
    background-color: #fff !important;
    border-radius: 0 !important;
    align-content: center !important;
    padding: 0 !important;
}


/* 조회기간 */
.period {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1% 0 3% 0;
    padding: 0.5%;
    border-radius: 10px;
    border: 2px solid rgba(0, 175, 133, 0.3);
    font-size: 14px;
}

div.mp-order-list-form .bi-calendar2-check-fill {
    margin-bottom: 4px;
    color: #FFA000;
}

div.mp-order-list-form .search-period {
    font-size: 16px;
    margin-right: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

div.mp-order-list-form .period .nav-item {
    width: 70px;
    margin-right: 3px;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

div.mp-order-list-form .period .nav-link {
    padding: 3.5px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

div.mp-order-list-form .period .nav-link:focus {
    border-color: #fff;
    border: 1px dashed #FFA000 !important;
    color: #00af85;
    border-radius: 15px;
}


