header {
    padding-bottom: 155px;
}

.notice-wrap {
    width: 1000px;
    box-sizing: border-box;
    margin: 100px auto;
}

.notice-view {
    width: 100%;
    border-top: 2px solid #000;
}

.notice-view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
    margin-bottom: 10px;
}

.notice-view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.notice-view .notice-cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

.notice-id {
    font-size: 20px;
    padding-left: 15px;
}

.hits {
    float: right;
    font-size: 20px;
    padding-left: 15px;
}

.notice-date {
    display: flex;
    font-size: 20px;
    padding-left: 15px;
    justify-content: flex-end;
}

.notice-title {
    font-size: xx-large;
}

.notice-id {
    display: flex;
    justify-content: flex-end;
}

.notice-cont {
    margin-top: 30px;
    border-top: 1px solid #999;
    height: 300px;
}

.back {
    margin: 0 auto;
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}

.notice-edit {
    margin: 0 auto;
    margin-right: 5px;
    float: right;
    padding-top: 10px;
}

.notice-list {
    margin: 0 auto;
    margin-right: 5px;
    float: right;
    padding-top: 10px;
}

#notice-delete {
    margin-top: 10px;
}