/* 세부 내용 기본 form */
div.mp-order-detail-form{
    width: 100%;
    margin-bottom: 10%;
}

/* 금액 색상 */
strong {
    color: #079c3b;
}

div.mp-order-detail-title {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
}

div.mp-order-detail-title span {
    font-size: 16px;
    font-weight: 600;
    color: #ff6d02;
    margin-left: 10px;
}

span.mp-order-detail-cancel {
    float: right;
}

span.mp-order-detail-cancel .btn-light {
    background-color: #5b19f4b8;
    color: #fff;
    border-radius: 20px;
}


/* 주문 내역 테이블 */
div.mp-order-detail-table{
    margin-top:20px;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

div.mp-order-detail-table table{
    width: 100%;
}

div.mp-order-detail-table .order-prod-name{
    display: flex;
    margin: 0 13px 0 20px;
    align-items: center;
    font-size: 16.5px;
    font-weight: 500;
}

div.mp-order-detail-table .btn-success {
    color: #079c3b;
    background-color: #fff;
    border-color: #079c3b;
    font-weight: 500;
}

div.mp-order-detail-table table th{
    height: 3em;
    background-color: #f7f7f7;
    border-top: 1px solid #777777;
}

div.mp-order-detail-table table tbody tr{
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

div.mp-order-detail-table table thead tr th{
    font-weight: 500;
}

div.mp-order-detail-table table tbody tr td{
    padding: 15px 0;
}

div.mp-order-detail-table .price-per-prod{
    font-weight: 600;
}

/* 결제 완료 */
div.mp-order-detail-table .pay-complete {
    font-weight: 500;
    color: #656565;
}

#detailTotalPrice {
    color: #ff6d02;
    font-weight: 600;
}

/* 주문 취소 */
div.mp-order-detail-table .pay-cancel {
    color: #777777;
}


/* div.mp-order-detail-table table tbody tr td.order-num {
    border-right: 1px dashed #d9d9d9;
} */

/* 주문자 정보 테이블 CSS */
div.mp-detail-table table{
    width: 100%;
}

div.mp-detail-table {
    border-top: 1px solid #949393;
}

div.mp-detail-table tr {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    height: 3em;
}

div.mp-detail-table th {
    background-color: #f7f7f7;
    font-weight: 600;
    padding-left: 15px;
}

div.mp-detail-table td {
    padding-left: 15px;
}


