*{
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

/* 세부 내용 기본 form */
div.mp-order-list-form {
    width: 100%;
    margin-bottom: 10%;
}

/* 타이틀을 제외한 조회기간, 테이블 가운데 정렬*/
div.mp-order-list-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 조회기간 */
div.mp-order-list-form div.period {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1% 0 3% 0;
    padding: 0.5%;
    border-radius: 10px;
    border: 2px solid #079c3b6c;
    font-size: 14px;
}

div.mp-order-list-form .bi-calendar2-check-fill {
    margin-bottom: 4px;
    color: #FFA000;
}

div.mp-order-list-form .search-period {
    font-size: 16px;
    margin-right: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

div.mp-order-list-form .period .nav-item {
    width: 70px;
    margin-right: 3px;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

div.mp-order-list-form .period .nav-link {
    padding: 3.5px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

div.mp-order-list-form .period .nav-link:focus {
    border-color: #fff;
    border: 1px dashed #FFA000 !important;
    color: #079c3b;
    border-radius: 15px;
}


/* 금액 색상 */
div.mp-order-list-form strong {
    color: #079c3bd6;
}

div.mp-order-list-title {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


/* 주문 내역 테이블 */
div.mp-order-list-table {
    margin-top: 20px;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

div.mp-order-list-table table {
    width: 100%;
}

div.mp-order-list-table table th {
    height: 3em;
    background-color: #f7f7f7;
    border-top: 1px solid #777777;
}

div.mp-order-list-table table tbody tr {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

div.mp-order-list-table table tbody tr:last-child {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #777777;
}

div.mp-order-list-table table thead tr th {
    font-weight: 500;
}

div.mp-order-list-table table tbody tr td {
    padding: 15px 0;
    border-right: 1px dashed #d9d9d9;
}

div.mp-order-list-table table tbody tr td:last-child {
    padding: 15px 0;
    border-right: 1px dashed #ffffff;
}

div.mp-order-list-table .order-date {
    color: #353535;
    font-size: 16.5px;
    font-weight: 600;
}

div.mp-order-list-table .order-num {
    color: #777777;
    font-size: 15px;
    font-weight: 500;
}

div.mp-order-list-table #pName:hover {
    color: #ff6b02a5;
    font-size: 16.5px;
    font-weight: 700;
}


/* div.mp-order-list-table .img-prod{
display: flex;
margin: 0 15px 0 15px;
align-items: center;
} */

/* 결제 완료 */
div.mp-order-list-table .pay-complete {
    font-weight: 700;
}

/* 주문 취소 */
div.mp-order-list-table .pay-cancel {
    color: #777777;
}


/* 리뷰 남기기 버튼 (활성화) */
div.mp-order-list-table .review-show {
    color: #079c3bd9;
    background-color: #fff;
    border-color: #079c3bdc;
    font-weight: 500;
    height: 36px;
}

div.mp-order-list-table .review-show:hover {
    color: #fff;
    background-color: #ff6b02b2;
    border-color: #ff6d02;
    font-weight: 500;
    height: 36px;
}


/* 리뷰 남기기 버튼 (비활성화) */
div.mp-order-list-table .review-hide {
    color: #555454cb;
    background-color: #ededed8a;
    border-color: #9b9b9b92;
    font-weight: 500;
    height: 36px;
}

/* 페이지네이션 가운데 정렬용 */
div.mp-user .mp-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 페이지네이션 button */
.pagination {
    /* 바닥에 붙이기 */
    position: absolute;
    bottom: 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 4px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    font-size: 14px;
}

.pagination a.active {
    background-color: #FFA000;
    color: white;
    border: 1px solid #FFA000;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ------ Date Picker CSS  ------- */
div.mp-order-list-main .datepicker {
    margin-left: 10px;
}

div.mp-order-list-main input {
    padding: 10px 15px !important;
    border: 1px solid #CFD8DC !important;
    border-radius: 12px !important;
    /* box-sizing: border-box; */
    background-color: #fff !important;
    color: #000 !important;
    font-size: 13px !important;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    width: 215px;
}

div.mp-order-list-main input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #FFA000 !important;
    outline-width: 0;
}

div.mp-order-list-main .daterangepicker {
    background-color: #fff !important;
    border-radius: 0 !important;
    align-content: center !important;
    padding: 0 !important;
}

/*Weekday Heading*/
thead tr:nth-child(2) {
    color: #797979 !important;
}

tbody tr td {
    padding: 5px 7px !important;
}

.month {
    font-size: 16px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.start-date,
.end-date {
    border-radius: 0px !important;
    background-color: #76dafe !important;
}

.available:hover {
    border-radius: 0px !important;
}

.off {
    color: #EEEEEE !important;
}

.off:hover {
    background-color: #EEEEEE !important;
    color: #fff !important;
}

.drp-buttons {
    display: none !important;
}