/* 마이페이지 전체 적용 속성 */
section.mp-page{
    margin-top: 80px;
    width: 100%;
}

/* 민트색 바 */
div.mp-background {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 175, 133, 0.5);
    position: relative;
}

div.mypage-basic i{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

div.mypage-basic{
    margin: 0 auto;
    padding-top: 40px;
    border-radius: 20px;
    width: 85%;
    background-color: white;
    position: relative;
    top: -60px;
}

/* 마이페이지 박스 속성 */
div.mypage-basic div.mp-user{
    display: flex;
    margin: 0 50px 0 20px;
}


div.mypage-basic div.mp-user-info div.mp-user-name-level{
    width:280px;
    margin: 0 20px 0 20px;
    padding-left: 20px;
    height: 6em;
    border-bottom: 1px solid #d9d9d9;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: flex-start; */
}

/* user 프로필 박스 */
div.mypage-basic div.mp-user-info span.mp-user-name{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border:0 solid black; /* input 박스 테두리 지우기*/
    pointer-events: none; /* input 박스 클릭 이벤트 지우기 */
    background: transparent; /* input 박스 transparent 효과 지우기*/
}

/* user 이름 아래 menu */
div.mypage-basic div.mp-user div.mp-user-info div.mp-user-menu {
    margin-top: 40px;
    /* flex-direction: column; */
}

div.mypage-basic div.mp-user div.mp-user-info div.mp-user-menu ul li.mp-sub-menu{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
}

div.mypage-basic div.mp-user div.mp-user-info div.mp-user-menu ul li.mp-sub-menu ul{
    font-size: 16px;
    font-weight: 500;
}

div.mypage-basic div.mp-user div.mp-user-info div.mp-user-menu ul li.mp-sub-menu ul li{
    margin: 10px 0 10px 0;
}

    /* user 마이페이지 상단 고정 정보(적립금,쿠폰,팔로우) */
div.mypage-basic div.mp-user-activity{
    width: 100%;
    height: 6em;
    display:flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    text-align: center;
}

div.mypage-basic div.mp-user-activity div.row{
    border-color: #d9d9d9;
}

div.mypage-basic div.mp-user-activity div.row div.mp-border{
    border-right: 1px solid #d9d9d9;
}


div.mypage-basic div.mp-user-activity div.row div.col div{
    font-weight: 500;
}


div.mypage-basic div.mp-user-activity div.row div.col span{
    font-size: 20px;
    font-weight: 500;
}

div.mypage-basic div.mp-user-activity div.row div.col span:hover{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 175, 133);
    cursor: pointer;
}

div.mypage-basic div.mp-user div.main-box{
    flex:content;

}

/*상품문의 상세 본문*/
div.mypage-basic div.mp-user div.main-box div.qna{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top:50px;

}
div.mp-qna-detail{
    margin-top:50px;
    font-size:15px;
    width:100%;
    justify-content: center;
}

.mpdt-qna-category{
    width:90px;
}

.mpdt-qna-title{
    margin-left:0px;
}

.mpdt-user-name{
    width:90px;
}

.mpdt-prod-info{
    width:100%;
    height:130px;
    display:flex;
}
/*이미지 부모요소*/
.prod-img{
    width:100px;
    height:100px;
    position: relative;
    overflow: hidden;
}

/*이미지 자식요소*/
.prod-img img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mpdt-prod-info-text{
    padding-left:10px;
    font-weight: 600;
}

.table{
    width:100%;
    height:auto;
}

.mpdt-qna-q{
    display:flex;
    border-bottom:#d9d9d9 0.5px solid;
}
.mpdt-q-content{
    width:750px;
    height:auto;
    margin-bottom:50px;
    font-size:15px;
}

.mpdt-qna-a{
    margin-top: 30px;
    border-bottom:#d9d9d9 0.5px solid;
    padding-bottom:80px;
}

.q-icon,.a-icon{
    width:5%;
    font-weight: 700;
    font-size: 20px;
    float: left;
}

.mpdt-answer-title,.qna-admin{
 font-weight: 600;   
}


.mpdt-answer-info{
    display:flex;
    border-bottom:#d9d9d9 0.3px solid;
    padding-bottom:8px;

}

.mpdt-answer-date{
    margin-left:10px;
    font-size: 10px;
    margin-top: 5px;
}

.mpdt-answer-content{
    font-size:15px;
    margin-left:5%;
    margin-top:10px;
}

.mpdt-button{
    float:right;
    background-color:white;
    border:1px solid;
    color:rgb(0, 175, 133);
    padding: 5px 20px;
    margin-right:5px;
    margin-top:20px;
    font-weight: 600;
    border-color:rgb(0, 175, 133);
}

/*상품문의 수정모달창*/
.modal-head{
    display:flex;
    border-bottom: #d9d9d9 solid 0.5px;
    margin:0 10px 0 10px;
    
}

.close-btn{
    margin-top:5px;
    margin-left:85%;
    font-size: 20px;
    color: rgb(139, 139, 139);
    font-weight: 800;
    cursor: pointer;
}

.qna-top{
    font-size: 15px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:500; 
}

.qna-box{
    margin:0 10px 0 10px;
}

/*이미지 부모요소*/
.prod-img{
    width:80px;
    height:80px;
    position: relative;
    overflow: hidden;
}

/*이미지 자식요소*/
.prod-img img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.prod-info-text{
    padding-left:10px;
    font-weight: 500;
}

.qna-write{
    width:100%;
    clear:both;
    font-size: 13px;

}

.prod-info-modal{
    width:100%;
    height:80px;
    display:flex;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
}

.modal-qna-writer, .modal-qna-title, .modal-qna-content,.modal-file{
    display:flex;
}


.modal-qna-writer, .modal-qna-title, .modal-qna-content, .modal-file{
    border-bottom:#d9d9d9 0.3px solid;  
}

.modal-col-1{
    width:12%;
    background-color: rgba(227, 238, 221, 0.096);
    text-align: center;
    font-weight:600;
    display : flex;
    justify-content : center;
    align-items : center;
    padding: 10px;
    font-size:13px;
}

.modal-col-2{
    text-align: center;
    padding:5px;
    font-size:13px;
    padding: 8px;
}

#modal-qna-title{
    width: 600px;
    height:30px;
    border-radius: 4px;
    border:#d9d9d9 0.3px solid;
    outline:none;
}

#modal-qna-content{
    width: 650px;
    height: 230px;
    border:#d9d9d9 0.3px solid;
    outline:none;
}

 .modal-file .upload-name,.upload-name-2 {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 100%;
    color: #999999;
    border-radius: 4px;
    border:#d9d9d9 0.3px solid;
    outline:none;
}

.modal-file label {
    display: inline-block;
    padding: 5px 5x;
    padding:5px;
    color: rgb(0, 175, 133);
    border: rgb(0, 175, 133) 0.7px solid;
    vertical-align: middle;
    background-color: white;
    cursor: pointer;
    height: 30px;
    margin-left: 5px;
    width:60px;
    font-size: 13px;
}

.modal-file input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
} 

.modal-file-row, .modal-file-row-2{
    display:flex;
}

.upload-file-add,.upload-file-del{
    background-color:white;
    color:black;
    border:#d9d9d9 0.3px solid;
    margin-left:3px;
    font-size:13px;
    display: inline-block;
    padding: 5px 13px;
    width:60px;
}

.modal-file-row-2{
    margin-top: 3px;
    /* display:none; */
}

.modal-buttons{
    margin-top:30px;
    margin-bottom:20px;
    text-align: center;
}

.modal-cancel{
    background-color: white;
    color:black;
    border:#d9d9d9 0.5px solid;
}

.modal-submit{
    background-color:rgb(0, 175, 133);
    color:white;
    border:rgb(0, 175, 133) 0.5px solid;
}

.modal-cancel,.modal-submit{
    font-weight: 600;
    font-size: 13px;
    border-radius: 3px;
    width:90px;
    height: 40px;
}

/* 모달창효과 */
.modal-qna-edit {
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-qna-edit.show {
    display: block;
  }

  .qna-group{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
    height: 90vh; overflow-y: auto; 

  }









