/* 세부 내용 기본 form */
div.chat-rooms-wrap{
    width: 70%;
    margin-bottom: 10%;
    margin-left: 10%; /* 임시 */
}

div.chat-room-title {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
}

/* 채팅방 목록 테이블 */
div.chat-room-table{
    display: inline-flex;
    margin-top:20px;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

div.chat-room-table table {
    display: block;
    width: 100%;
    margin-right: 50px;
}

div.chat-room-table table th{
    height: 3em;
    background-color: #f7f7f7;
    border-top: 1px solid #777777;
}

div.chat-room-table table tbody tr{
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

div.chat-room-table table thead tr th{
    font-weight: 500;
}

div.chat-room-table table tbody tr td{
    padding: 15px 0;
}

/* 채팅 문의 CSS */
.chat_wrap {
    width: 400px;
    height: 540px;
}

.chat_wrap .chat {
    height: 420px;
}

.chat_wrap .header {
    background-color: rgb(255, 173, 67);
}

