.chat-container {
    box-sizing: border-box;
    /* display: none; */
    margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.chat_wrap {
    border: 1px solid #c2c2c2da;
    border-radius: 10px;
    width: 280px;
    height: 420px;
}

.chat_wrap .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 9px 0;
    background: #6638b8da;
    /* background: #fff6f6; */
    color: rgb(255, 255, 255);
    text-align: center;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    font-weight: 600;
    border-bottom: 1px solid #d8d7d7;
}

.chat_wrap .header>svg {
    margin-right: 4px;
}

.chat_wrap .chat {
    height: 305px;
    /* 자동 스크롤 */
    overflow-y: scroll;
    background-color: #f4f3f3f7;
    /* background-color: #f8e9c3; */
    padding: 10px;
    font-size: 13px;
    display: flex;
}

/* 스크롤 바 CSS */
.chat_wrap .chat::-webkit-scrollbar {
    width: 7px;
    height: 0px;
}
.chat_wrap .chat::-webkit-scrollbar-thumb {
    background: #f9f5e79e;
    border-radius: 10px;
    box-shadow: inset 0px 0px 15px white;
}
.chat_wrap .chat::-webkit-scrollbar-track {
    background: #fff8f82a;
    border-radius: 10px;
}


.chat_wrap .chat #chatMsg {
    width: 100%;
    list-style: none;
    padding : 0;
    display: flex;
    flex-direction: column;
}

.chat_wrap .chat #chatMsg div {
    overflow-wrap: break-word;
    margin-bottom: 4px;
}

/* 메시지와 날짜 정렬 */
/* 관리자 메시지 */
.chat_wrap .chat #chatMsg div.leftMsg {
    display: inline-flex;
    float: left;
    align-items: flex-end;
}

.chat_wrap .chat #chatMsg div.leftMsg div.msgContent {
    background-color: #fff;
    border-radius: 5px;
    max-width: 40%;
    /* clear:both; */
    border: 1px solid #e8e7e7;
    padding: 3px 6px;
}

/* 회원 메시지 */
.chat_wrap .chat #chatMsg div.rightMsg {
    display: inline-flex;
    flex-direction: row-reverse;
    float: right;
    align-items: flex-end;
}

.chat_wrap .chat #chatMsg div.rightMsg div.msgContent {
    background-color: #f9f9c7;
    border-radius: 5px;
    max-width: 40%;
    /* clear:both; */
    border: 1px solid #e8e7e7;
    padding: 3px 6px;
}

/* 처음 인삿말 가운데 */
.chat_wrap .chat #chatMsg div.center {
    text-align: center;
    background: #ffffff95;
    /* border: 1px dashed #fff; */
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 7px;
    font-size: 12px;
    color: rgb(80, 80, 80);
}


.chat_wrap .chat #chatMsg div div.date {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 6px;
    font-size: 10px;
    color: rgb(80, 80, 80);
}


.chat_wrap .msg-send {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chat_wrap .input-box {
    width: 100%;
    bottom: 0;
    text-align: center;
}

.chat_wrap .input-box>textarea {
    width: inherit;
    height: 62px;
    border: none;
    resize: none;
    font-size: 13px;
    padding-left: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 스크롤 바 CSS */
.chat_wrap .input-box>textarea::-webkit-scrollbar {
    width: 12px;
}
.chat_wrap .input-box>textarea::-webkit-scrollbar-track {
    background: #fff;
}


.chat_wrap .input-box>textarea:focus {
    outline: none;
}

.chat_wrap .input-box #msg-input {
    padding-top: 10px;
}

.chat_wrap .send-btn {
    float: right;
    /* border: 1px dashed #ffbb6e; */
    /* border-radius: 50%; */
    height: 15px;
    padding: 7px;
    margin-top: 7px;
    margin-right : 7px;
}

.chat_wrap .send-btn:hover {
    color: #6638b8da;
}
