/* intall 'Product Reviews App by Shopify' first
upload this css to assets and apply, use' {{ 'xxxxxxx.css' | asset_url | stylesheet_tag }} 'in theme.liquid
set 3 reviews per page in the app setting */
.prod-review{
display:flex;
}
.b-pr-container {
  min-height: 10px;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  padding: 0 15px !important;
  width: 100%;
  font-size: inherit;
  box-sizing: border-box;
  overflow: hidden;
}
.spr-icon {
  color: #fdbc00;
  font-size: 120%;
  position: relative;
  width: 1.3em;
  height: 1.3em;
}
.spr-summary-actions-newreview {
  float: right;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 24px;
}
.b-prod-name{
float:right;
color:green;
font-weight: bold;
}
.b-pr-review {
  width: 31%;
  margin-left: 0 1% !important;
  margin-right: 40px;
  min-height: 250px;
  display: inline-block;
  padding: 20px 25px !important;
  /*background: #fff;*/
  margin-top:1.5%;
  margin-bottom: 25px !important;
  border: 1px solid;
  border-radius: 12px;
}
.br-prod-img{
display :flex;
}
.br-img img{
 width:110px;
height:110px;
position: relative;
left:20px;
}
.spr-pagination {
  clear: both;
}
#bproduct-review .btitle {
  display: block;
  clear: both;
  float: none;
}
.pr-intro{
display:flex;
}
.total-starrating{
position:relative;
top:60px;
left:20px;
}
.review-count{
position:relative;
/* left: 360px; */
top:60px;
}
.review-cnt{
position:relative;
top:60px;
left:20px;
}

.bt-wrap{
position: relative;
left:1050px;

}
.review-write-btn{
text-align: center;
border-radius: 5px;
font-size: 15px;
    background: #00af85;
color: #fff;
cursor:pointer;
width: 120px;
    height: 48px;
}
.pr-container{
   min-height: 10px;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  padding: 0 15px !important;
  width: 100%;
  font-size: inherit;
  box-sizing: border-box;
  overflow: hidden;
}
.pr-review{
display: flex;
border: 1px solid black;
  height: 31%;
  width:95%;
  margin-left: 0 1% !important;
  margin-right: 40px;
  min-height: 250px;
  display: inline-block;
  padding: 20px 25px !important;
  margin-top:1.5%;
  margin-bottom: 25px !important;
  border: 1px solid;
}
.prod-review{
display:flex;
}
.review-img img{
 width:70px;
height:70px;
position:relative;
top: 10px;
}
.star-rating{
position:relative;
/* bottom:20px; */
}
.order-review {
    display:flex;
   float:right;
}

@media (max-width: 800px) {
  .spr-review {
    float: none;
    width: 100%;
    min-height: auto;
    margin: 0 !important;
    margin-bottom: 25px !important;
  }
  .spr-summary-actions-newreview {
    margin-right: 0px;
  }
}
