.review-wrap {
    width: 1000px;
    margin: 100px auto;
   
}

.review-title {
    margin-bottom: 30px;
}

.review-title strong {
    font-size: 3rem;
}

.review-title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

 .bt-wrap {
    margin-top: 30px;
    font-size: 0;
    display:flex;
    justify-content:center;
    
}
.submit{
    float:left;
}
.cancel{
    float:right;
}
.review-write-submit {
    margin-left: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    background: #ff6d02;
    color: black;
    cursor: pointer;
    width: 120px;
    height: 48px;
}

 .review-write-cancel{
    margin-left: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    background: #ff6d02;
    color: black;
    cursor:pointer;
    width: 120px;
    height: 48px;
}

.review-write {
    border-top: 2px solid #000;
}

.review-write .title
{
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}

.review-write .title dl {
    font-size: 0;
}

.review-write .title dt,
.review-write .title dd
{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.review-write .title dt,
.review-write .info dt {
    width: 100px;
}

.review-write .title dd {
    width: calc(100% - 100px);
}
.review-write .info dd {
    position: relative;
    right:45px;
}

.review-write .title input[type="text"],
.review-write .info input[type="text"]{
    padding: 10px;
    box-sizing: border-box;
}

.review-write .title input[type="text"] {
    width: 80%;
position:relative;
    bottom: 27px;
    left: 7px;
}

.review-write .cont {
    border-bottom: 1px solid #000;
}

.review-write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

.upload-review-img{
    display:flex;
}

.show-review-img img{
    height:100px;
    width:100px;
    border: 2px solid black;
    position:relative;
    top: 4px;
    right:5px;
}

.review-img-upload{
    margin-top:13px;

}
