section .mp-seller-add{
    width: 80%;
    margin: 100px auto 100px auto;
}

.mp-seller-add h5.add-title{
    padding-bottom: 20px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 2px solid #d9d9d9;
}

.mp-seller-add h6{
  font-size: 20px;
  margin-left: 2.5%;
  margin-top: 2em;

}

.mp-seller-add .add-prodinfo{
    width: 95%;
    height: 1000px;
    margin: 0 auto 20px auto;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

table{
  font-size: 17px;
  width: 100%;
  margin: 1em auto;
  text-align: left;
}

table tbody tr{
  height: 60px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

table tbody tr th{
  width: 20%;
  padding-left: 1em;
  background-color: rgba(0, 175, 133, 0.1);
}

table tbody tr td{
  padding-left: 0.5em;
}

.mp-seller-add .add-prodinfo input.add-prodname{
    width: 22em;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
}

#textLengthCheck{
    text-align: right;
}

.mp-seller-add .add-prodinfo .select ul{
    list-style-type: none;
    padding-left: 0px;
}

.mp-seller-add .add-prodinfo .select {
    display: inline-block;
    width: 18em;
    border: 2px solid #b1b1b1;
}

.mp-seller-add .add-prodinfo .select .selected {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
  }

.mp-seller-add .add-prodinfo .select .selected .selected-value {
    max-width: 90px;
}

.mp-seller-add .add-prodinfo .select ul {
    /* width: 200px; */
    width: 18em;
    border: 2px solid #999;
    position: absolute;
    background: #fff;
    border-top: none;
    margin: 1px 0 0 -2px;
    cursor: pointer;
    display: none; /* 처음엔 닫혀있는 상태 */
}

.mp-seller-add .add-prodinfo .select.active ul{
    display: initial;
}

.mp-seller-add .add-prodinfo .select ul li {
    padding: 5px 5px;
}

.mp-seller-add .add-prodinfo .select.select ul li,
.mp-seller-add .add-prodinfo .select .selected .selected-value {
  white-space: nowrap; /* 줄바꿈 안함 */
  overflow: hidden;
  text-overflow: ellipsis; /* 말줄임 적용 */
  padding-left: 1em;
}

.mp-seller-add .add-prodinfo .select ul li:hover {
    background: rgba(0, 175, 133, 0.5);
}

/* --------- 셀렉트 박스 START --------- */
input[type="number"]{
  width: 3em;
  border: none;
  border-bottom:2px solid #d9d9d9; /* input 박스 테두리 지우기*/
  outline: none;
}

.seller-wrap-cate{
    margin-right: 4em;
}

.wrap{
    max-width: 400px;
    /* position: absolute; */
    float: left;
}
.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 35px;
}
select {
    display: none;
}

.custom-select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #9E9E9E;
    padding: 5px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.custom-select:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color:#9E9E9E transparent transparent transparent;
    position: absolute;
    top: 14px;
    right: 10px;
    transform: rotateZ(0deg);
    transition: all 0.5s;
    transform-origin: 50% 25%;
}

.custom-select:active, .custom-select.active {
    background-color: #fff;
    color: #9E9E9E;
    text-align: left;
}
.custom-select:active:after, .custom-select.active:after {
    transform: rotateZ(180deg);
    transition: all 0.5s;
    transform-origin: 50% 25%;
}
.custom-select:focus{
  outline: 2px;
}
.select-options {
    max-height: 200px;
    overflow-y: auto;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #AED581;
    border-radius: 0px 0px 5px 5px;
}
.select-options li {
    color: #424242;
    margin: 0;
    padding: 12px 0;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    padding-left: 15px;
}
.select-options li:hover {
    color: #424242;
    background: #fff;
}
.select-options li[rel="hide"] {
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 0 0 5px 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#9E9E9E;
}
/* --------- 셀렉트 박스 END --------- */

.mp-seller-add .add-prodpercent{
    width: 18em;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    float:left;
    margin-right: 64px;
}

.mp-seller-add .add-prodprice{
    width: 9em;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;
    float:left;
}

.mp-seller-add .add-prodinfo .final-prodprice{
    float:left;
    width:9em;
    height: 28px;
    border: 2px solid #d9d9d9;
    text-align: center;
}

td small{
  font-size: 12px;
  color:#a1a1a1;
}

.mp-seller-add .add-prodinfo textarea{
    width: 30em;
    height: 120px;
    resize: none;
    outline: none;
    /* border: 2px solid #d9d9d9; */
    border:none;
}

.seller-file-uploader{
    width:30em;
}

/* 이미지 업로더  */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  /* max-width: 600px; */
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  /* border: 2px solid #d9d9d9; */
  transition: all 0.2s ease;
  -webkit-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #eee;
}
.uploader label.hover {
  border: 2px solid #eee;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  /* margin: 0 0 0.5rem 0; */
  text-align: left;
  color: #424242;
}
.uploader .btn-upload {
  display: inline-block;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  text-transform: initial;
  border: 2px dashed #b1b1b1;
  outline: none;
  padding: 0.8rem 1.5rem;
  height: 75px;
  line-height: 36px;
  color:#b1b1b1;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.uploader .btn-upload:hover{
    border: 2px dashed #b1b1b1;
    color:#b1b1b1;
}

/* 등록/취소 버튼 */
div.prod-add-form-btn{
    margin-top: 3em;
    text-align: center;
}

.prod-add-form-btn button.prod-add-btn{
    background-color: #00af85;
    color: #fff;
}

button.prod-add-btn:hover{
    background-color: rgba(1, 198, 152, 0.8);
    color: #fff;
}

button.prod-cancel-btn{
    background-color: #b1b1b1;
    color: #fff;
}

button.prod-cancel-btn:hover{
    background-color: rgba(177, 177, 177, 0.8);
    color: #fff;
}